<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News</title>
    <style>
        body {
            background-color: #F0E7B4;
            font-family: "Bitstream Charter", sans-serif;
            font-size: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0;
        }
        p    {color: #302D1A; font-size: 15px}
        .header {
            display: flex;
            align-items: center;
            padding:20px 0;
            justify-content: center;
            background-color: #CABC68
        }

        .header_link {
            padding: 0 10px;
            text-decoration: none;
            color: #302D1A;
            text-transform: uppercase;
            font-size: 20px;
        }
        .header_link:hover {
            color: #F0E7B4;
        }

        .article-info {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 2% 0 0;
            margin: 0;
            text-align: center;
        }
        .article_link {
            padding: 0 10px;
            text-decoration: none;
            color: #9C8B24;
            font-size: 20px;
        }
        .article_link:hover {
            color: #CABC68;
        }
        .each-article {
            background-color: #f6eebd;
            padding: 10px 20px 20px 20px;
            width: 800px;
            height: fit-content;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        ul {
            list-style-type: none;
        }
        .top {
            padding:20px 0;
            justify-content: center;
            background-color: #CABC68;
            text-decoration: none;
            color: #302D1A;
            text-transform: uppercase;
            font-size: 20px;
        }
        .top:hover {
            color: #F0E7B4;
        }
    </style>
</head>
<body>
<a name="top"></a>
<header>
    <nav class = "header">
        <a class="header_link" href="/?category=general">Vispārīgi</a>
        <a class="header_link" href="/?category=business">Bizness</a>
        <a class="header_link" href="/?category=sports">Sports</a>
        <a class="header_link" href="/?category=entertainment">Izklaide</a>
        <a class="header_link" href="/?category=health">Veselība</a>
        <a class="header_link" href="/?category=science">Zinātne</a>
        <a class="header_link" href="/?category=technology">Tehnoloģijas</a>
    </nav>
</header>

<main>

<section class="article-info">
    <ul>
        {% for article in articles %}
            <li class="each-article">
                <a class="article_link" href="{{ article.url }}" target="_blank">{{ article.title }}</a>
                <p>{{ article.description }}</p>
                <img src="{{ article.urlToImage }}" alt="image not found" width="100%" height=auto>
            </li>
            <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/>
        {% endfor %}
    </ul>
</section>
</main>
<a class="top" href="#top">back to top</a>
</body>
</html>